.input-wrapper .actions-wrapper .send-button button:hover {
    background-color: var(--blue);
    transition: .2s;
}

.input-wrapper .actions-wrapper .send-button button:active {
    scale: 1.05;
    transition: .2s;
}


.input-wrapper .actions-wrapper .send-button button .content {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.input-wrapper .actions-wrapper .send-button button .content .icon i {
    font-size: 16px;
    color: var(--primary);
}

.input-wrapper .actions-wrapper .send-button button .content .text p {
    font-size: 18px;
    margin: 0;
    color: var(--primary);
}

.input-wrapper .actions-wrapper .anonymous-switcher {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    border-radius: 50%;

    width: 43px;
    height: 43px;
}

.input-wrapper .actions-wrapper .anonymous-switcher .icon i {
    font-size: 21px;
    color: var(--primary);
}


.input-wrapper .actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper .actions-wrapper .send-button button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--light-blue);
    color: var(--white);

    border-radius: 7px;
    border: none;

    cursor: pointer;

    transition: .2s;

}
