.auth-wrapper .auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-wrapper .auth-header .logo img {
    width: 100px;
    height: 110px;

    user-select: none;

    margin-bottom: 20px;
}

.auth-wrapper .auth-header .title p {

    text-align: center;

    font-size: 48px;
    color: rgba(var(--secondary));
    margin: 0;

    text-wrap: normal;

    line-height: 1;
}

.auth-wrapper .auth-header .subtitle p {
    font-size: 24px;
    color: rgba(var(--secondary), .8);
    margin: 0;
}

/* Mobile */
@media
    (max-width: 768px) {
    .auth-wrapper .auth-header {
        margin-top: 20px;
    }
}